.movie {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin-top: 20px;
  word-break: break-all;
}
.movie .img {
  text-align: center;
  font-weight: bold;
}
.movie-info {
  display: none;
  padding: 10px;
  background-color: #181818;
}
.movie:hover .movie-info {
  display: block;
}
.movie-info .title {
  font-weight: bold;
}
.row {
  padding-top: 4px;
  padding-bottom: 4px;
}
.btn.action {
  border-radius: 50%;
  color: #fff;
  border-color: #8d8d8d;
  background-color: #181818;
  margin-right: 6px;
  box-shadow: none !important;
}
.btn.action:hover,
.btn.action.active {
  color: #000 !important;
  border-color: #fff;
  background-color: #fff;
}
.ratio-box {
  width: 60%;
  height: 20px;
  border-radius: 4px;
}
.category {
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}
.category.active {
  background-color: #dc3545 !important;
}
.category.inactive {
  background-color: #6c757d !important;
}
.page-item .page-link {
  color: #fff !important;
  border-color: #8d8d8d !important;
  background-color: #181818 !important;
}
